p {
  /* color: blue; */
}

body {
  /* background-color: rgb(69, 245, 183); */
}

.hero {
  background-color: bisque;
}

#about-section {
  background-color: teal;
}

header a {
  /* color: aqua; descendant selector */
}
.hero {
  background-color: black;
}
/* .main-header a {
  color: ;
} */

/* .nav-links {
  color: orangered;
} */

/* a[href="/"] {

  color: blueviolet;
} */

.nav-links a:hover {
  color: red;
  cursor: pointer;
}

button:hover {
  cursor: pointer; /* hand icon */
  color: aquamarine;
}
button:focus {
  color: green;
}
.hero-heading {
  color: rgb(172, 185, 113);
}
