:root {
  /* link-color: orange; css global variable*/
}
html {
  font-size: 16px;
}

.main-header-menu-link,
.main-header-menu-tel {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: none;
}
.hero-heading {
  font-family: Raleway;
}

p {
  /* color: blue; */
}

body {
  /* background-color: rgb(69, 245, 183); */
}

.hero {
  /* background-color: bisque; */
}

#about-section {
  /* background-color: teal; */
}

header a {
  /* color: aqua; descendant selector */
}
.hero {
  /* background-color: black; */
}
/* .main-header a {
  color: ;
} */

/* .nav-links {
  color: orangered;
} */

/* a[href="/"] {

  color: blueviolet;
} */

.nav-links a:hover {
  /* color: red;
  cursor: pointer; */
}

button:hover {
  cursor: pointer; /* hand icon */
  /* color: aquamarine; */
}
button:focus {
  /* color: green; */
}
.hero-heading {
  /* color: rgb(172, 185, 113); */
}

.main-header-cta {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 10px;
  line-height: 1.5rem;
}

.hero-description {
  text-align: none;
}

.hero-description {
  text-indent: 50px;
}

.hero-description {
  line-height: 1em; /*spacing between text */
  /* white-space: nowrap; no wrapping  */
}
